[user]
    name = Barret Ren
    email = Barret.Ren@outlook.com
[branch]
    autosetuprebase = always
[core]
	pager = less -x1,5
    editor = nvim
[alias]
    br = branch
    brd = branch -D
    st = status
    ci = commit
    cm = commit -m
    co = checkout
    cob = checkout -b
    ft= fetch -p
    pl = pull
    pls = pull --recurse-submodules
    ph = push
    phd = push --delete
    rb = rebase
    l = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
    ll = log --stat --abbrev-commit
    d = diff
    dh = diff HEAD
    alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto
[merge]
	tool = meld
[mergetool "meld"]
    # Choose one of these 2 lines (not both!) explained below.
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
    ;cmd = meld"$LOCAL""$BASE""$REMOTE" --output"$MERGED"
