[user]
    email = barretren@qq.com
    name = Barret Ren
[branch]
    autosetuprebase = always
[core]
    pager = less -r
    editor = vi
	quotepath = false
[alias]
    br = branch
    brd = branch -d
    st = status
    ci = commit
    co = checkout
    cob = checkout -b
    ft= fetch
    pl = pull
    rb = rebase
    l = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
    ll = log --stat --abbrev-commit
    d = diff
    dh = diff --color-words HEAD
    alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto
[merge]
    tool = kdiff3
[init]
	defaultBranch = master
