[branch]
    autosetuprebase = always
[core]
    autocrlf = false
    editor = nvim
    quotepath = false
[alias]
    br = branch
    brd = branch -D
    st = status
    ci = commit
    cm = commit -m
    cam = !git commit --amend --date=\"$(date -R)\"
    co = checkout
    cob = checkout -b
    ft= fetch -p
    pl = pull
    pls = pull --recurse-submodules
    ph = push
    phd = push --delete
    rb = rebase
    l = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %C(bold blue)%an%Creset, %Cgreen%ad%Creset' --date=format:'%Y-%m-%d %H:%M:%S' 
    ll = log --stat --abbrev-commit
    d = diff
    dh = diff HEAD
    alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
    unstage = restore --staged
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto
[init]
    defaultBranch = master
[merge]
    tool = meld
[mergetool "meld"]
    # Choose one of these 2 lines (not both!) explained below.
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
    ;cmd = meld"$LOCAL""$BASE""$REMOTE" --output"$MERGED"
[user]
    email = Barret.Ren@outlook.com
    name = Barret Ren
; use other config for certain folder
[includeIf "gitdir:~/repos/"]
    path = ~/.gitconfig-work
