[user]
    email = renxiuhu@outlook.com
    name = renxiuhu
[alias]
    br = branch
    brd = branch -D
    st = status
    ci = commit
    cm = commit -m
    cam = !git commit --amend --date=\"$(date -R)\"
    co = checkout
    cob = checkout -b
    ft= fetch -p
    pl = pull
    pls = pull --recurse-submodules
    ph = push
    phd = push --delete
    rb = rebase
    l = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %C(bold blue)%an%Creset, %Cgreen%ad%Creset' --date=format:'%Y-%m-%d %H:%M:%S' 
    ll = log --stat --abbrev-commit
    d = diff
    dh = diff HEAD
    alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
    unstage = restore --staged
    refcl = !git reflog expire --expire-unreachable=now --all | git gc --prune=now
[branch]
    autosetuprebase = always
    sort = -committerdate
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto
[column]
    ui = auto
[core]
    autocrlf = false
    editor = nvim
    quotepath = false
    whitespace = cr-at-eol
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[help]
    autocorrect = prompt
[includeIf "gitdir:~/repos/"]
    path = ~/.gitconfig-work
[init]
    defaultBranch = main
[merge]
    conflictstyle = zdiff3
    #tool = meld
[mergetool "meld"]
    # Choose one of these 2 lines (not both!) explained below.
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
    ;cmd = meld"$LOCAL""$BASE""$REMOTE" --output"$MERGED"
[pull]
    rebase = true
[push]
    default = simple
    autoSetupRemote = true
    followTags = true
[rebase]
    autoSquash = true
    autoStash = true
[rerere]
    enabled = true
    autoupdate = true
[tag]
    sort = version:refname
